In [1]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.io import output_file, show
from bokeh.layouts import column
from bokeh.plotting import figure

In [2]:
df = pd.read_csv('D 9 20 2022 DATA.txt',sep = '\t', skiprows = 9,header=None)
df.head()

      0         1         2         3         4         5         6         7
0  0.00  0.006875 -0.103438  0.000937 -0.006875  1.665000  0.000313  22.40332
1  0.01  0.014375 -0.095937  0.000000 -0.003750  1.648125  0.000000  22.40332
2  0.02  0.014687 -0.095937 -0.000313 -0.001563  1.649063  0.000000  22.40270
3  0.03  0.014687 -0.095625 -0.001250  0.000000  1.644688  0.000000  22.40270
4  0.04  0.014687 -0.095625 -0.002188  0.000000  1.642813  0.000000  22.40270

In [5]:
# normalized data 
# instantiating the figure object
graph = figure(title="MILK BAR Data - Normalized")
w = 1750
h = 1000
graph = figure(width=w, height=h)
# define data
x = df.iloc[:,0]
y1 = df.iloc[:,1]/df.iloc[:,1].abs().max()
y2 = df.iloc[:,2]/df.iloc[:,2].max()
y3 = df.iloc[:,3]/df.iloc[:,3].max()
y4 = df.iloc[:,4]/df.iloc[:,4].max()
y5 = df.iloc[:,5]/df.iloc[:,5].abs().max()
y6 = df.iloc[:,6]/df.iloc[:,6].abs().max()

# plotting the line graphs
graph.line(x, y1, legend_label="Contact Force",line_color = 'black')
graph.line(x, y2, legend_label="Oral Pressure", line_color='green')
graph.line(x, y3, legend_label="Left Jaw", line_color='blue')
graph.line(x, y4, legend_label="Right Jaw", line_color='red')
graph.line(x, y5, legend_label="Swallow PVDF Sensor", line_color='orange')
graph.line(x, y6, legend_label="Channel 7", line_color='purple')

graph.legend.click_policy="hide"

# displaying the model
show(graph)